@using RegisterLogin.Domain.ViewModels
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div>
    <form method="post" id="ForgotPasswordForm">
        <header><h4> بازیابی رمز عبور </h4></header>
        <div class="col-10 col-sm-9 col-md-10 col-lg-6">
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="ایمیل را وارد کنید ..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-10 col-sm-9 col-md-8 col-lg-6" style="margin-top:10px;">
            <button type="button" onclick="forgotPassPost()" class="btn btn-primary">بازیابی رمز عبور</button>
        </div>
    </form>
</div>