@using RegisterLogin.Domain.ViewModels
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "دریافت کد تایید";
}
<form method="post" style="margin-top:5px;" id="verifyCodeForm">
    <div class="col-10 col-sm-9 col-md-10 col-lg-6 mb-2">
        <input class="form-control" id="resetEmail" name="Email" value="@Model.Email" readonly />
    </div>
    <div class="col-10 col-sm-9 col-md-10 col-lg-6 mb-2">
        <label>لطفا کد ارسالی به موبایل / ایمیل را وارد کنید</label>
        <div class="form-group d-flex justify-content-between">
            <input type="text" id="code1" maxlength="1" class="form-control" style="width: 15%; text-align: center;" oninput="submitForm()" onkeydown="validateNumber(event)" />
            <input type="text" id="code2" maxlength="1" class="form-control" style="width: 15%; text-align: center;" oninput="moveFocus(this, 'code1'); submitForm()" onkeydown="validateNumber(event)" />
            <input type="text" id="code3" maxlength="1" class="form-control" style="width: 15%; text-align: center;" oninput="moveFocus(this, 'code2'); submitForm()" onkeydown="validateNumber(event)"/>
            <input type="text" id="code4" maxlength="1" class="form-control" style="width: 15%; text-align: center;" oninput="moveFocus(this, 'code3'); submitForm()" onkeydown="validateNumber(event)"/>
            <input type="text" id="code5" maxlength="1" class="form-control" style="width: 15%; text-align: center;" oninput="moveFocus(this, 'code4'); submitForm()" onkeydown="validateNumber(event)"/>
        </div>
    </div>
    <input type="hidden" id="VerificationCode" asp-for="VerificationCode" />
    <div class="col-10 col-sm-9 col-md-10 col-lg-6 mb-2">
        <button type="button" onclick="verifyCodePost()" class="btn btn-primary">بررسی کد تایید</button>
    </div>
</form>