<form method="post" style="margin-top:5px;" id="logoutForm">
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 mb-2 d-flex align-items-center">
        <button type="button" onclick="logoutPost()" class="btn btn-danger w-50" style="margin-left:5px">بله</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-warning w-50">خیر</button>
    </div>
</form>